.jumbotron {
  background-image: url(https://i.pinimg.com/originals/b7/bf/99/b7bf99bd8e667c1e045d50771bd75ee6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  font-family: "Permanent Marker", cursive;
  height: 300px;
}
